/* css reset start line */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* css reset end line */

.display-flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-content-center {
  justify-content: center;
}

.flex-items-start {
  align-items: start;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-gap {
  gap: 30px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.aside-container img {
  max-width: 100%;
  height: auto;
}

.aside-container {
  height: auto;
  max-width: 34.8vw;
}

fieldset {
  padding: 4vh 5vh;
  margin-bottom: 4vh;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-row {
  width: 90%;
  display: flex;
}

.inputcontainer label {
  display: block;
}

.inputcontainer input {
  width: 70%;
}

.inputcontainer {
  flex-grow: 1;
  margin-right: 40px;
}

.button-container {
  margin-left: 50px;
}

.button-container button {
  padding: 5px 60px;
  background: pink;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
