/* css reset start line */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* css reset end line */

@font-face {
  font-family: "Roboto";
  src: url(assets/font/Roboto/roboto-variablefont.ttf);
}

@font-face {
  font-family: "Sawarabi";
  src: url(assets/font/Sawarabi_Mincho/SawarabiMincho-Regular.ttf);
}

@font-face {
  font-family: "NotoSerif";
  src: url(assets/font/Noto_Serif_JP/NotoSerifJP-VariableFont_wght.ttf);
}

body {
  font-family: "NotoSerif", Georgia, "Times New Roman", Times, serif;
}

.display-flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-content-center {
  justify-content: center;
}

.flex-items-start {
  align-items: start;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-gap {
  gap: 30px;
}

.flex-wrap {
  flex-wrap: wrap;
}

section {
  background-color: rgba(255, 192, 192, 0.15);
}

.aside-container {
  height: auto;
  max-width: 34.8vw;
}

.aside-container img[class="aside-img"] {
  max-width: 100%;
  height: auto;
}

.aside-container .odin-logo-container img[class="odin-logo"] {
  width: 120px;
  margin-right: 15px;
}
.aside-container .odin-logo-container {
  font-family: "Sawarabi", Georgia, "Times New Roman", Times, serif !important;
  background: rgba(255, 192, 192, 1);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 39vh;
  padding: 3vh 8vw;
}

.aside-container .odin-logo-container p {
  color: white;
  font-size: 4vw;
}

.form-container {
  background-color: white;
}
.form-container form {
  background-color: white;
}

.form-container fieldset h2 {
  font-weight: 800;
}

fieldset {
  padding: 4vh 5vh;
  margin-bottom: 4vh;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-row {
  width: 90%;
  display: flex;
}

.form-row .inputcontainer {
  font-weight: 600;
}

.paragraph-row {
  margin: 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 4vh;
}

.paragraph-row p {
  padding-left: 2.5vw;
  padding-right: 8vw;
  padding-top: 2vh;
  font-size: 1.5vw;
  font-weight: 800;
}

.inputcontainer label {
  display: block;
}

.inputcontainer input {
  width: 70%;
  border: 1px solid pink;
  border-radius: 2px;
  outline: none;
}

.inputcontainer {
  flex-grow: 1;
  margin-right: 40px;
}

.button-container {
  margin-left: 50px;
}

.button-container button {
  margin-bottom: 30px;
  padding: 10px 70px;
  background: rgba(255, 192, 192, 1);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  font-weight: 600;
}

.button-container p {
  font-weight: 500;
}

.button-container p a {
  text-decoration: none;
  color: rgba(255, 183, 183, 1);
}

footer p {
  position: absolute;
  top: 97%;
  color: white;
  background: rgba(255, 183, 183, 0.5);
}

footer p a {
  color: white;
}

.button-container button:hover {
  background: rgb(255, 128, 128);
}

.button-container button:active {
  background: rgba(255, 192, 192, 0.7);
}

.inputcontainer input:focus {
  border: 2px solid rgba(255, 168, 168, 0.986);
  box-shadow: rgba(255, 168, 168, 0.986) 0px 3px 12px;
}

.inputcontainer input[type="email"]:invalid {
  border: 2px solid red;
  color: red;
  box-shadow: none;
}

.inputcontainer input[type="email"]:focus:valid {
  background: rgba(224, 251, 226, 0.9);
}

.inputcontainer input[type="password"]:invalid {
  border: 2px solid red;
  color: red;
  box-shadow: none;
}

.inputcontainer input[type="password"]:focus:valid {
  background: rgba(224, 251, 226, 0.9);
}

.inputcontainer input[type="tel"]:invalid {
  border: 2px solid red;
  color: red;
  box-shadow: none;
}

.inputcontainer input[type="tel"]:focus:valid {
  background: rgba(224, 251, 226, 0.9);
}

@media only screen and (max-width: 1366px) {
  .aside-container .odin-logo-container img[class="odin-logo"] {
    width: 50px;
    margin-right: 15px;
  }
  .paragraph-row p {
    font-size: 3vh;
  }
  .form-container .inputcontainer input {
    width: 90%;
  }
  .form-container form {
    font-size: 1vw;
  }
  .aside-container {
    height: auto;
    max-width: 31.8vw;
  }

  footer p {
    position: absolute;
    top: 95%;
    font-size: 1vw;
    color: white;
    background: rgba(255, 183, 183, 0.5);
  }
}
